*{  
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 62.5%;
    scroll-behavior: smooth;
}
header{
    background-color: bisque;
    color: white;
    padding: 4rem;
    text-align: center;
    font-size: 1.6rem;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    position: sticky;
}

.navagation{
    display: flex;
    align-items: right;
    list-style: none;
    padding:1.5rem 1.5rem;
}

.navagation__list{
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}
.nav__link{
    text-decoration: none;
    font-size: 2.75rem;
    color: white;
    font-weight: bolder;
    position: relative;
}

.nav__link#winkelmandje::before{
    content:attr(data-items);
    background-color:red;
    display: flex;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
    width: 2.5rem;
    height: 2.5rem;
    font-size: 1.6rem;
    position: absolute;
    top:-2rem;
    right:-2rem;
    font-size: 1.6rem;
}

body{
background-color: lightcyan;

}

.grid-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    gap: 2rem;
    padding: 18rem;
    justify-items: center;
    align-items: center;
}

.card{
    display: grid;
    grid-template-rows: 1fr;
    background-color: white;
    width: 30rem;
    min-height: 50rem;
    background-color: #fff;
    border-radius: 1.5rem;
    box-shadow: 0 0 2rem rgba(0,0,0,0.2);
    align-items: center;
    justify-content: center;
    font-family: 'Courier New', Courier, monospace;
    font-size: 1.6rem;
    font-weight: bold;
}
.card__image{
    width: 40rem;
    height: 30rem;
    border-radius: 1.5rem 1.5rem 0 0;
    object-fit: cover;
}


.card__button{
    background-color: lightblue;
    color: white;
    border: none;
    padding: 1rem 2rem;
    border-radius: 0.5rem;
    cursor: pointer;
    font-size: 1.6rem;
    margin: 2rem;
    text-align: center;
    font-weight: bolder;
}
.card__button--remove{
    background-color: red;
    color: white;
    border: none;
    padding: 1rem 1rem;
    border-radius: 0.5rem;
    cursor: pointer;
    font-size: 1.6rem;
    margin-bottom:0.5rem ;
    text-align: center;
    font-weight: bolder;
}



.card__button--disabled{
    background-color: gray;
    color: white;
    border: none;
    padding: 1rem 2rem;
    border-radius: 0.5rem;
    cursor: not-allowed;
    font-size: 1.6rem;
    margin: 2rem;
    text-align: center;
    font-weight: bolder;
}

.card__button--disabled:hover{
    background-color: lightgray;
    color: white;
    border: none;
    padding: 1rem 2rem;
    border-radius: 0.5rem;
    cursor: not-allowed;
    font-size: 1.6rem;
    margin: 2rem;
    text-align: center;
    font-weight: bolder;
}







